{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="content"{{ content_attributes }}>
    <div class="title">
      <div class="inner-wrap">
        <h3>{{ content.field_wwa_block3_items_name }}</h3>
        <div class="position">{{ content.field_wwa_block3_position }}</div>
      </div>
    </div>
    <div class="desc">
      {{ content.field_wwa_block3_desc }}
    </div>
    {{ content|without('field_wwa_block3_items_name', 'field_wwa_block3_position', 'field_wwa_block3_desc') }}
  </div>
</div>
